

.formsx-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  .product-form {
    width: 100%;
    padding: 3rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    font-family: 'inter', sans-serif;
  }
  @media( max-width:600px){
    .product-form {
      width: 75%;
      padding: 3rem;
    }
  }
  
  .formx-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family:'inter' , sans-serif;
    color: #333333;
  }
  
  
  .input-box {
    margin-bottom: 20px;
  }
  
  .details {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555555;
  }
  
  input[type="text"],
  textarea,
  select,
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
    color: #333333;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  textarea:focus,
  select:focus,
  input[type="number"]:focus,
  input[type="file"]:focus {
    border-color: #007bff;
  }
  
  /* Styling the custom file upload */
  .custom-file-upload {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  
  .custom-file-upload i {
    margin-right: 8px;
  }
  
  
  button.submitx-button {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.submitx-button:hover {
    background-color: #fff;
    color: #000;
  }
  