   .reset-password-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
   flex-direction: column;
   font-family: 'inter', sans-serif;
   box-shadow: #32325d40 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   margin: 7rem 20rem;
   border-radius: 12px;
   gap: 5rem;
  }
  
  .reset-password-form{
    background-color: white;
    padding: 2rem;
   
    width: 320px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.res-h1-o{
margin: 0;
}
  
.reset-password-form label {
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 6px;
    font-family: 'inter', sans-serif;
  }
  
.reset-password-form input {
    width: 94%;
    padding: 1.8rem;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
.reset-password-form  button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
  }
  
  .reset-password-form  button:hover {
    background-color: #0056b3;
  }
  

  @media(max-width:830px){
    .reset-password-cont{
     margin: 7rem 3rem;
     
    }
  }

  @media(max-width:620px){
    .reset-password-cont{
     margin: 7rem 2rem;
    }
  }

  @media(max-width:400px){

    .reset-password-cont{
      margin: 4rem 0rem;
    }


  
    .reset-password-cont {
      width: 400px;
     
  }

  .reset-password-forminput {
    width: 85%;
   
  }
    

  }

  @media(max-width:390px){
    .reset-password-form {
      width: 200px;
     
  }
  .reset-password-cont {
    width: 300px;
   
}

  }

