.cart-product-img {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 12px;
}

.prdct-imgx {
  width: 6rem;
  border-radius: 66px;
}

.amountTogglle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.togglleicons {
  color: aliceblue;
}

.togglle-btns {
  background: linear-gradient(to right, #e100ff, #7f00ff);
  border-radius: 4px;
  border: none;
  padding: 0.55rem 2rem;
  cursor: pointer;
  margin: 0;
}

.ai-filldelete {
  color: rgb(219, 61, 61);
  cursor: pointer;
}

/* /////////////////////////// */

.tablec {
  width: 100%;
  border-collapse: collapse;
  font-family: "inter", sans-serif;
}

.tablec td,
.tablec th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.tablec th {
  background: #8620ea;
  color: #ffffff;
}

.tablec tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/

@media (max-width: 1200px) {
  .tablec thead {
    display: none;
  }

  .tablec,
  .tablec tbody,
  .tablec tr,
  .tablec td {
    display: block;
    width: 88%;
  }
  .tablec tr {
    margin-bottom: 2rem;
  }
  .tablec td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .tablec td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

@media (max-width: 330px) {
  .tablec td {
    font-size: 11px;
  }
  .tablec td::before {
    content: attr(data-label);
    font-size: 11px;
  }
}
