@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Pacifico&display=swap');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0rem 2rem;
  margin: 0;
  background: #ffffff;
  border: none;
  margin: 0 2rem;
}
.logo-name {
  font-size: 2.8rem;
}
.logo-name:hover{
  color:#fffffa;
  transition: ease-in 0.5s;
}
li {
  list-style: none;
}

.sb-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0.4rem;
  border-radius: 25px;
  margin-left: 30rem;
}
.searchbar{
  width: 22rem ;
  padding: 0.8rem;
  border-radius: 25px;
  border: 0px;
  border: 1px solid #000000;
}


.search-btn{
  background:none;
  border: none;
  color: black;
  cursor: pointer;
}
.search-btn:hover{
  color: #7400e7;
}


.logo-name{
  font-family: 'Pacifico', cursive;
  color: #000000;
  letter-spacing:1px;
}
.NavLinks {
  padding: 6px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  color:#000000;
  
}

.nav-ul {
  display: flex;
  gap: 1rem;
}

.menu-icon {
  display: none;
}

@media (max-width: 1200px) {

  header {
  
    padding: 0rem 0.1rem;
    
    margin: 0 2rem;
  }
  .logo {
    font-size: 20px;
  }
  .logo-name:hover{
    color:#fffffa;
    transition: ease-in 0.5s;
  }
  li {
    list-style: none;
  }
  
  .sb-cont{

    padding: 0.4rem;
    margin-left: 13rem;
  }
  .searchbar{
    width: 17rem ;
    padding: 0.3rem;
   
  }
  

  .NavLinks {
    padding: 6px;
    
  }
  
  
  .NavLinks:hover {
    color: #ffffff;
  }
  .nav-ul {
    gap: 0.3rem;
    
  }
  
  
}
@media (max-width: 900px) {

  header {
    margin: 0 1rem;
  }
  .logo {
    font-size: 20px;
  }
  .logo-name:hover{
    color:#fffffa;
    transition: ease-in 0.5s;
  }
  li {
    list-style: none;
  }
  
  .sb-cont{
    margin-left: 7rem;
  }

  
  .NavLinks {
    padding: 6px;
    font-size: 1rem;
    
  }
  
}

@media (max-width: 780px) {

  .NavLinks {
    padding: 3px;
    font-size: 1rem;
    
  }
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    transform: translateY(-100vh);
    transition: 1s ease-in; 
    z-index: 1;
    font-size:3rem;
  }
  .nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  margin-right: 4rem;
  gap:0rem;

  }

  .menu-icon {
    display: inline;
    color: #000000;
    
  }

  .responsive {
    transform: none;
  }

  .hidden{
    display: none;
  }

  .logo-name{
    font-size: 2rem;
  }

  .close {
    color: #000000;
    position: fixed;
    top: 25px;
    right: 22px;
  }
}



