@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");

.hero-section {
  background-image: url("../../assets/heroimage.jpg");
  /* background-image: url("https://images.pexels.com/photos/352899/pexels-photo-352899.jpeg?auto=compress&cs=tinysrgb&w=600");*/
  height: 550px; /*You must set a specified height*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  filter: drop-shadow(8px 8px 10px gray);
}

.hero-heading {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  color: #ffffff;
  letter-spacing: 1px;
  text-shadow: 0 0 8px #000000, 0 0 3px;
  font-weight: 200;
}

.h-span {
  font-family: "Pacifico", cursive;
  color: #000000;
  font-size: 5rem;
  text-shadow: 0 0 12px #ffffff, 0 0 1px;
  font-weight: 800;
}

.h-span:hover {
  color: #7f00ff;
  cursor: pointer;
  transition: ease-in 1s;
}

.arrow-down {
  width: 40px;
  height: 30px;
  margin: 0 0 0 -30px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
  animation-play-state: paused;
}

.left {
  position: absolute;
  height: 14px;
  width: 40px;
  background: linear-gradient(to right, #e100ff, #7f00ff);
  transform: rotate(240deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position: absolute;
  height: 14px;
  width: 40px;
  background: linear-gradient(to right, #e100ff, #7f00ff);
  transform: rotate(-60deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

.categories-heading {
  text-align: justify;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 1rem 0 0 2rem;
}

.cate-cards-cont {
  margin: 3rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-section2 {
  background-image: url("C:\Users\HP\Desktop\CRAFTSY\frontend-craftsy\src\assets\heroimage2.jpg");
  /* background-image: url("https://images.pexels.com/photos/352899/pexels-photo-352899.jpeg?auto=compress&cs=tinysrgb&w=600");*/
  height: 600px; /*You must set a specified height*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 12rem 10rem 8rem 10rem;
}

.herosec2-h1 {
  font-family: "Noto Serif", serif;
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.herosec2-p {
  color: #ffffff;
  font-size: 4rem;
  color: #ffffff;
  font-family: "Noto Serif", serif;
}
.herosec2-btn {
  border: none;
  border-radius: 44px;
  padding: 2rem 4rem;
  font-family: "roboto", sans-serif;
  font-weight: 800;
  font-size: 1.8rem;
  display: flex;
}

.herosec2-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.shop-limited-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 16rem 9rem 16rem;
  gap: 4rem;
}
.fig-1 {
  background-image: url("C:\Users\HP\Desktop\CRAFTSY\frontend-craftsy\src\assets\figures1.jpg");
  /* background-image: url("https://images.pexels.com/photos/352899/pexels-photo-352899.jpeg?auto=compress&cs=tinysrgb&w=600");*/
  height: 800px; /*You must set a specified height*/
  width: 550px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.fig-2 {
  background-image: url("C:\Users\HP\Desktop\CRAFTSY\frontend-craftsy\src\assets\figures2.jpg");
  /* background-image: url("https://images.pexels.com/photos/352899/pexels-photo-352899.jpeg?auto=compress&cs=tinysrgb&w=600");*/
  height: 800px; /*You must set a specified height*/
  width: 550px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.first-txt,
.scnd-txt {
  text-align: center;
  font-family: "noto", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: #ffffff;
}

.shop-l-btn {
  border: none;
  border-radius: 44px;
  letter-spacing: 1px;
  padding: 1.5rem 4rem;
  font-family: "roboto", sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.8rem;
  background-color: #000000;
  margin-bottom: 5rem;
}

.shop-l-btn:hover {
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
}

.containeer {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.section-featured {
  padding: 1rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logosx {
  display: flex;
  justify-content: space-around;
  gap: 6rem;
}

.logosx img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

.car-section {
  padding: 0 46rem 0 46rem;
}

.bs-h1 {
  font-family: "robot", sans-serif;
  text-align: center;
  font-size: 3rem;
  color: #5a5a5a;
}

.cate-cards-cont {
  margin-left: 10rem;
}
/* //////////////////////// */
.featured-product-card {
  margin: 0 16rem 22rem 95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.dataa-cont {
  text-align: center;
  padding: 1rem;
}

@keyframes leftArrow {
  0% {
  }
  100% {
    transform: rotate(225deg);
  }
}

@keyframes rightArrow {
  0% {
  }
  100% {
    transform: rotate(-45deg);
  }
}
