.recommended-flex{
        display: flex;
        gap: 1rem;
}

.recommended-title{
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.reco-btns{
    padding: 1rem 3rem;
    border-radius: 12px;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    background-color: black;
    color: white;
    border: none;
    border: 2px solid black;
    
}
.reco-btns:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
}



@media(max-width:500px){

    .reco-btns{
        padding: 1rem 2rem;
        border-radius: 12px;
        font-size: 1rem;
        letter-spacing: 1.5px;
        background-color: black;
        color: white;
        border: none;
        border: 2px solid black;
        
    }
   
}