@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

.categories-card{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column; 
width: 20rem;
font-family: 'Nunito', sans-serif;
margin:6rem 0 2rem 0;
border-radius:  12px;

}

.image-of-card{
width: 20rem;
border-radius: 12px;
height: 28rem;
}

.card-kiline{

  border: 1px solid #000;
  width: 80%;
}
.image-cards{
   cursor: pointer;
}

.change{
display: none;
}

.card-heading{
font-size: 3rem;
font-weight: 900;
color: #ffffff;
letter-spacing: 1PX;
}

.card-pirce{
	font-size: 1rem;
}

.shopnow-btn{
  cursor: pointer;
border-radius: 44px;
border: none;
padding: 1.2rem 4rem;
margin-bottom: 1.5rem;
color: #ffffff;
background-color: #000000;
font-size: 1.8rem;
width: 100%;
}

.shopnow-btn:hover{
  cursor: pointer;
  background: #2b0070;
  }

  @media (max-width: 550px) {
    .categories-card{
      width: 18rem;
    }

    .shopnow-btn{
    
      width: 100%;
      padding: 1.2rem 3rem;
    
    }
     
  }

  @media (max-width: 800px) {
    
.image-of-card{
  width: 15rem;
  border-radius: 12px;
  height: 20rem;
  }
  
     
  }

  @media (max-width: 400px) {
    
    .image-of-card{
      width: 10rem;
      border-radius: 12px;
      height: 16rem;
      }
      
         
      }

      @media (max-width: 390px) {
    
        .shopnow-btn{
        
          width: 100%;
          padding: 1.2rem 2.5rem;
          font-size: 1.3rem;
        
        }
         
      }