.testi-container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-image: url("https://images.unsplash.com/photo-1557683304-673a23048d34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D&w=1000&q=80");
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */ 
height:20rem;
width: 30rem;
padding: 2rem;
margin-bottom: 5rem;
border-radius: 12px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
z-index: 100;
}

.user-image{
width: 80px;
height: 80px;
border-radius:44px;

}

.testimonial-text{
 font-family: 'inter',sans-serif;
 font-size: 1.2rem;
 text-align: center;
 line-height:3rem;
 font-weight: 400;
 color: #ffffff;
}


.user-name{
   font-family: 'inter',sans-serif;
  font-size: 1.5rem;
        text-align: center;
       letter-spacing: 1px;
       font-weight: 900;
       padding-bottom: 5rem;
       color: #000000;
}

@media (max-width: 800px) {
    .testi-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height:15rem;
        width: 13rem;
        padding: 2rem;
        margin-bottom: 5rem;
        border-radius: 12px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        z-index: 100;
        }
        
        .user-image{
        width: 55px;
        height: 55px;
        border-radius:44px;
        
        }
        
        .testimonial-text{
         font-family: 'inter',sans-serif;
         font-size: 8px;
         text-align: center;
         line-height:1.2rem;
         font-weight: 400;
         
        }
        
        
        .user-name{
          font-size: 1.3rem;
    
        }        
  }
  @media (max-width: 360px) {
    .testi-container{
        height:10rem;
        width: 5rem;
        padding: 3rem;
        }
        
        .user-image{
        width: 50px;
        height: 50px;
        border-radius:44px;
        
        }
        
        .testimonial-text{
         font-family: 'inter',sans-serif;
         font-size: 4px;
         text-align: center;
         line-height:1.2rem;
         font-weight: 400;
         
        }
        
        
        .user-name{
          font-size: 8px;
          padding-bottom: 4rem;
        }        
  }